apiVersion: v1
kind: Service
metadata:
  name: hello-flux
  namespace: default
spec:
  selector:
    app: hello-flux
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
